form#classes-details-form(style="display:none;")
	p
		label#classes-details-id.data.label-simple(style="display:none;")
		label.libelle Cours : 
		span#classes-details-course.data.text-simple(title='Cours')
		br
		label.libelle Sujet : 
		span#classes-details-subject.data.text-simple(title='Sujet')
		br
		label.libelle le : 
		span#classes-details-startDate.data.text-simple(title='Le')
		br
		label.libelle à : 
		span#classes-details-startHour.data.text-simple(title='à')
		br
		label.libelle Durée : 
		span#classes-details-duration.data.text-simple(title='Durée')
		br
		label.libelle Actuellement active : 
		span#classes-details-active.data.text-simple(title='Active ?')
		br
	p
		input#classes-details-submit-start(
			type="submit"
			value="Démarrer une classroom")
		//- input#classes-details-submit-end(
		//- 	type="submit"
		//- 	value="Terminer cette classroom")
		input#classes-details-submit-join(
			type="submit"
			value="Rejoindre la classroom")
		//- input#classes-details-submit-leave(
		//- 	type="submit"
		//- 	value="Quitter la classroom")
		input#classes-details-submit-modify(
			type="submit"
			value="Modifier la classroom")