p
	label#classes-details-id.data.label-simple(style="display:none;")
	label.libelle Cours :
	span#classes-details-course.data.text-simple
	br
	label.libelle Sujet :
	span#classes-details-subject.data.text-simple
	br
	label.libelle le :
	span#classes-details-startDate.data.text-simple
	br
	label.libelle à :
	span#classes-details-startHour.data.text-simple
	br
	label.libelle Durée :
	span#classes-details-duration.data.text-simple
	br
	label.libelle Actuellement active :
	span#classes-details-active.data.text-simple
	br
p
	input#classes-details-submit-start(
		type="submit"
		value="Démarrer une classroom")
	input#classes-details-submit-end(
		type="submit"
		value="Terminer cette classroom")
	input#classes-details-submit-join(
		type="submit"
		value="Rejoindre la classroom")
	input#classes-details-submit-leave(
		type="submit"
		value="Quitter la classroom")
	input#classes-details-submit-modify(
		type="submit"
		value="Modifier la classroom")