span.titre Créer :
p
	input#courses-creation-name.data.text-simple(
		type='text'
		placeholder='Nom')
	br
	input#courses-creation-description.data.text-area(
		type='text'
		placeholder='Description')
input#courses-creation-submit(
	type='submit'
	value='Créer !')