doctype html
html
	head
		title ProgWeb Project

		meta(name='keywords',
			content='WebRTC, HTML5, JavaScript')
		meta(name='description',
			content='WebRTC Reference App')
		// meta(name='viewport',
			content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1')

		base(target='_blank')

		link(rel='stylesheet', href='css/test.css')
		link(rel='stylesheet', href='js/lib/jsTree/themes/default/style.min.css')

		script(src='js/lib/jquery-2.1.3.js')
		script(src='js/lib/jsTree/jstree.min.js')
		script(src='js/lib/adapter.js')
		script(src='js/lib/jquery.class.js')
		script(src='js/test.js')
		script(src='js/auth.js')

	body
		header
			form#loginForm
				input#login(
					type='text'
					placeholder='Login')
				br
				input#pass(
					type='password'
					placeholder='Password')
			nav#rooms(style="display:none")
				span Mon Projet
			button#logout(type='text' style='display:none') Deco
		main
			aside#geochat
				section#geo
					#carte
				section#out
				input#in(type='text')
			section#cams
				.cam(style='display:none')
					p#localMember
					video#localVideo(
						autoplay='true'
						muted='true')
			section#courses-div(style='display:none')
				a#courses-refresh(href='#refresh')
					span Refresh
				#courses-info
				#courses-list
				form#courses-creation-form(style='display:none')
					span.titre Créer&nbsp;:
					p
						span.libelle Nom&nbsp;:
						input#courses-creation-name.data.text-simple(type='text')
						br
						span.libelle Description&nbsp;:
						input#courses-creation-description.data.text-area(type='text')
					input#courses-creation-submit(
						type='submit'
						value='Créer !')
				form#courses-details-form(style='display:none')
					span.titre Détails&nbsp;:
					p
						span#courses-details-id.data.label-simple(style='display:none')
						span.libelle Nom&nbsp;:
						span#courses-details-name.data.label-simple
						br
						span.libelle Enseignant&nbsp;:
						span#courses-details-teacher.data.label-simple
						br
						span.libelle Description&nbsp;:
						span#courses-details-description.data.label-area
					p
						input#courses-details-submit-modify(
						type='submit'
						value='Modifier !')
						input#courses-details-submit-enrol(
						type='submit'
						value="S'inscrire !")
						input#courses-details-submit-quit(
							type='submit'
							value='Se désinscrire !'
							style='display:none')
						span#courses-details-message.data.label-area(type="text")
				form#courses-edition-form(style='display:none')
					input#courses-edition-id(type="hidden")
					span.titre Modifier un cours&nbsp;:
					p
						span.libelle Nom&nbsp;:
						input#courses-edition-name.data.text-simple(type="text")
						br
						span.libelle Description&nbsp;:
						input#courses-edition-description.data.text-area(type="text")
						// Manque liste des teachers
					input#courses-edition-submit-update(
						type="submit"
						value='Mettre à jour !')
					input#courses-edition-submit-delete(
						type="submit"
						value='Supprimer !')
			aside#files
		footer footer
