doctype html
html
	head
		include ./includes/head.jade
	body.body
		header
			input#classes-details-submit-leave(
				type="submit"
				form="classes-details-form"
				style='display:none'
				value="Quitter la classroom")
			input#classes-details-submit-end(
				type="submit"
				form="classes-details-form"
				style='display:none'
				value="Terminer cette classroom")
			input#logout(
				type="button"
				style='display:none'
				value='Déconnexion')
		main
			aside#left.back
				include ./includes/geochat.jade
				section#courses-div(style='display:none')
					include ./includes/courses-list-div.jade
					include ./includes/courses-creation-form.jade
					include ./includes/courses-details-form.jade
					include ./includes/courses-edition-form.jade
			main#center
				include ./includes/loginForm.jade
				include ./includes/cams.jade
			aside#right.back
				include ./includes/repository.jade
				section#classes-div(style='display:none')
					#classes-list
					include ./includes/classes-creation-form.jade
					include ./includes/classes-details-form.jade
					include ./includes/classes-edition-form.jade